* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    border: 5px solid black;
    width: 1000px;
    height: 569px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: url('./assets/desert-top-down/images/Tile_5.png');
}

canvas {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* following properties bottom are for to see the canvas range */
    /* border: 2px solid red; */
    z-index: 1;
}

#map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(3, 256px);
    overflow: hidden;
}

/* objects */
#skull, #tree, #cactus {
    display: none;
}

/* player Tank */
#hull {
    display: none;
}
#weapon {
    display: none;
}
#track-1-A {
    display: none;
}
#track-1-B {
    display: none;
}
#Light-Shell {
    display: none;
}

