* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    border: 5px solid black;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    background: url('./assets/desert-top-down/images/Tile_5.png');
}